@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.vehicle_Page {
    padding: 55px;
    display: flex;
    align-items: center;
    background-color: #1E1E1E;
}


.vehiclePage_img {
    width: 33.8rem;
    height: 30rem;
    transform: scale(0.8);
}

.vehiclePage_img img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.vehiclePage_name {
    color: #FFF;
    font-size: 2.5rem;
}

.vehiclePage_bar {
    width: 5rem;
    height: 0.1rem;
    background-color: #DFCC1D;
    margin-top: 0.5rem;
}

.vehiclePage_data {
    margin-left: 3rem;
}

.vehiclePage_infos {
    color: #FFF;
    min-width: 40rem;
    min-height: 7.5rem;
    text-align: left;
    border: 1px solid #DFCC1D;
    padding: 1rem 0 1rem 1rem;
    display: flex;
    margin-top: 1.2rem;
}

.vehiclePage_infos-right, .vehiclePage_infos-left {
    flex: 1;
}

.vehiclePage_info {
    font-size: 1.4rem;
}

.vehiclePage_info span {
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

@media (max-width: 414px) {
    .vehicle_Page {
        flex-direction: column;
        padding-top: 2rem;
    }

    .vehiclePage_data {
        margin-left: 0;
    }

    .vehiclePage_infos {
        min-width: 30rem;
        margin-top: 2rem;
        flex-direction: column;
    }

    .vehiclePage_info {
        margin: 0.5rem;
        font-size: 1.8rem;
    }

    .vehiclePage_info span {
        font-size: 1.8rem;
    }
}