@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

.character_Page {
    padding: 55px;
    display: flex;
    align-items: center;
    background-color: #1E1E1E;
}

.characterPage_img {
    width: 17.8rem;
    height: 20.7rem;
}

.characterPage_img img {
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.characterPage_name {
    color: #FFF;
    font-size: 2.5rem;
}

.characterPage_bar {
    width: 5rem;
    height: 0.1rem;
    background-color: #DFCC1D;
    margin-top: 0.5rem;
}

.characterPage_data {
    margin-left: 3rem;
}

.characterPage_infos {
    color: #FFF;
    min-width: 40rem;
    min-height: 7.5rem;
    text-align: left;
    border: 1px solid #DFCC1D;
    padding: 1rem 0 1rem 1rem;
    display: flex;
    margin-top: 1.2rem;
}

.characterPage_infos-right, .characterPage_infos-left {
    flex: 1;
}

.characterPage_info {
    font-size: 1.4rem;
}

.characterPage_info span {
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: 0.5rem;
}

@media(max-width: 414px) {
    .character_Page {
        flex-direction: column;
    }

    .characterPage_img {
        width: 19.5rem;
        height: 26.8rem;
    }

    .characterPage_data {
        margin-left: 0;
    }

    .characterPage_name {
        margin-top: 2rem;
    }

    .characterPage_infos {
        flex-direction: column;
        min-width: 30rem;
        margin-top: 2rem;
    }

    .characterPage_info {
        margin: 0.5rem;
        font-size: 1.8rem;
    }

    .characterPage_info span {
        font-size: 1.8rem;
    }
}