.characteres {
    background-color: #111;
}

.characteres_container {
    max-width: 975px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}

.pagination {
    margin: auto;
    width: fit-content;
    padding-bottom: 1.5rem;
}

.button_pagination {
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0.1rem;
}

.button_pagination-active {
    background-color: #DFCC1D;
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    cursor: pointer;
    margin: 0.1rem;
}

@media (max-width:414px) {
    .characteres_container {
        width: 390px;
    }
}